<h1>Hi am Bookings index page</h1>

<div class="container py-5">
  <h1>Booking History</h1>

  <% @bookings.each do |booking| %>
    <div>
      <h3>Booking ID: <%= booking.id %></h3>
      <p>Instrument: <%= booking.instrument.name %></p>
      <p>Start Date: <%= booking.start_date %></p>
      <p>End Date: <%= booking.end_date %></p>
    </div>
  <% end %>
</div>

<%= link_to "Homepage", root_path, class: "btn btn-success" %>
