<footer class="wide-footer">
  <div class="footer-content">
    <div class="footer-links">
      <ul class="centered-links">
        <li><%= link_to "About Our Music Box", "#" %></li>
        <li><%= link_to "Our Mission", "#" %></li>
        <li><%= link_to "Terms of Service", "#" %></li>
        <li><%= link_to "Privacy Policy", "#" %></li>
        <li><%= link_to "FAQs", "#" %></li>
        <!-- Add more links as needed -->
      </ul>
    </div>
    <div class="social-media-icons">
      <a href="https://en-gb.facebook.com/" class="social-icon facebook"></a>
      <a href="https://www.instagram.com/" class="social-icon twitter"></a>
      <a href="https://twitter.com/AqilKha85649229?t=9EfbomCuQ5VHKtmqKgzFcg&s=09" class="social-icon instagram"></a>
    </div>
  </div>
</footer>
