
<h2>Hi I am instruments index page</h2>

<span id="btn-new"><%= link_to "New Instrument", new_instrument_path, class: "btn btn-success" %></span>


<div class="container py-5">
  <div class="row">
    <% @instruments.each do |instrument|%>
      <div class="co-12 col-sm-6 col-md-4 mb-3">

        <div class="bg-white rounded shadow h-100">
          <%=image_tag "P.jpeg", alt: 'Instrument', class: "instrument-img rounded-top"%>
            <div class="p-3 rounded-bottom d-flex flex-column">
            <%= link_to instrument_path(instrument), class:"text-decoration-none" do %>
              <strong><%= instrument.name %></strong>
              <small class="text-muted">£<%= instrument.price %>/day</small>
            </div>
            <% end %>
        </div>
      </div>
    <% end  %>
  </div>
</div>
