<div class="container mt-5">
  <div class="bg-white rounded p-3 shadow" style="min-height: 50vh">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <h1><%= @instrument.name %></h1>
        <small class="text-muted">£<%= @instrument.price %>/day</small>
        <div>
        <% if @instrument.photos.attached? %>
          <% @instrument.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
        <% end %>
        </div>
        <br>

        <div class="row justify-align-center">
          <div class="row justify-align-center" style="color: white; display: inline-block; width: 60px; height: 40px; margin-right: 16px;">
            <%= link_to "Edit", edit_instrument_path(@instrument.id), class: "button-green" %>
          </div>

          <div class="row justify-align-center" style="color: white; display: inline-block; width: 180px; height: 40px; margin-right: 18px;">
            <%= link_to "Back to list", instruments_path, class: "button-green" %>
          </div>

          <div class="row justify-align-center" style="color: white; display: inline-block; width: 60px; height: 40px; margin-left: -90px; margin-right: 16px;">
            <%= link_to " Delete",
                        instrument_path(@instrument), class: "button-green",
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="row justify-content-center">
          <h1>Desription</h1>
          <p><%= @instrument.description %></p>
          <p>Native Instruments Komplete Kontrol A49 Midi Guitar</p>

          <div class="col-12 col-lg-3">
            <p>Daily</p>
            <p>£7.00/day</p>
          </div>

          <div class="col-12 col-lg-3">
            <p>7 Days +</p>
            <p>£4.00/day</p>
          </div>

          <div class="col-12 col-lg-3">
            <p>30 Days +</p>
            <p>£2.80/day</p>
          </div>
        </div>


         <div class="row justify-align-center" style="color: white; display: inline-block; width: 250px; height: 40px; margin-left:-35px; margin-top:35px;">
            <%= link_to 'Rent this instrument', new_instrument_booking_path(@instrument), class: "button-blue" %>
          </div>

      </div>
    </div>
  </div>
</div>
