<div class="container mt-5">

<h1><%= @instrument.name %></h1>

<%= link_to "Edit", edit_instrument_path(@instrument.id) %>


<% if @instrument.photos.attached? %>
      <% @instrument.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width:400, crop: :fill %>
      <% end %>
    <% end %>

<%= link_to "Back to list", instruments_path %>

<%= link_to "Delete",
  instrument_path(@instrument),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

</div>
