<div class="container mt-5">

<h1><%= @instrument.name %></h1>
 <%= @instrument.photo_url %>

<%= link_to "Edit", edit_instrument_path(@instrument.id) %>


 <%= link_to "Back to list", instruments_path %>

 <%= link_to instrument_path(@instrument),
  data: {turbo_method: :delete, turbo_confirm: "Delete #{@instrument.name}?"} %>

</div>
