<!DOCTYPE html>
<html>
  <head>
    <title>MusicBox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <%= render "shared/flashes" %>

    <%= yield %>
    <% if user_signed_in?  %>
<<<<<<< HEAD
    <h2>Hi <%= current_user.email %></h2>
=======
    <h5>Hi <%= current_user.email %></h5>
>>>>>>> 7cfe4fc3f613149171027bdd85f9895ba488a3da
    <% end %>
  </body>
</html>
